<header>
    <div style="display: flex">
        <div>
            <h1>{{title}}</h1>
        </div>
        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
        </div>
    </div>
   

</header>